/* Styles pour la Navbar2 */
.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  
 
 

  
  